
.header.text-light{
    color: #222;
}

.header.text-dark{
    color: #fff;
}

.form-control{
    position: relative;
    top: 3px;
    margin: 10px 15px 10px 0;
}

.link-light{
    color: #222;
}

.link-dark{
    color: #fff;
}

.nav li{
    margin: 2px;
}

.nav-link i{
    text-align: center;
    font-size: 12pt;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.nav-link:hover{
    background-color: #d6e5ff;
}

p{
    font-size: 10pt;
}

.component{
    padding: 20px;
    padding-top: 0;
}


.component.dark{
    background-color: #fff;
    color: #222;
}

.component.light{
    background-color: transparent;
    color: #fff;
}

.select-user-role {
    width: 100%;
    max-width: 400px;
    margin: 20px auto; 
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.select-user-role label {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 16px !important;
    margin-bottom: 2px;
    color: #333;
}

.select-user-role input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.select-user-role input:focus {
    border-color: #007bff;
    outline: none; 
}

.select-user-role ul {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

.select-user-role ul li {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
}

.select-user-role ul li:hover {
    background-color: #f0f0f0;
}

.select-user-role .no-users-found-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.select-user-role p {
    color: blue;
    font-size: 14px;
    margin-top: 10px;
}

.select-user-role select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.select-user-role select:focus {
    border-color: #007bff;
    outline: none;
}

.select-user-role select option {
    padding: 8px;
    background-color: #fff;
    color: #333;
}

.select-user-role span {
    font-size: 16px;
    font-weight: 600;
    color: rgb(58, 158, 93);
    margin-top: 20px;
}

.info {
    font-size: 18px;
}

