
.header.text-light{
    color: #222;
}

.header.text-dark{
    color: #fff;
}

.form-control{
    position: relative;
    top: 3px;
    margin: 10px 15px 10px 0;
}

.link-light{
    color: #222;
}

.link-dark{
    color: #fff;
}

.nav li{
    margin: 2px;
}

.nav-link i{
    text-align: center;
    font-size: 12pt;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.nav-link:hover{
    background-color: #d6e5ff;
}

p{
    font-size: 10pt;
}


.component.dark{
    background-color: #fff;
    color: #222;
}

.component.light{
    background-color: transparent;
    color: #fff;
}


