/* Tabela za Previous State i Current State */
.historyTable {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f5f8ff; /* Svijetloplava boja pozadine */
  border: 1px solid #007bff; /* Plavi okvir */
  table-layout: fixed;
  overflow-x: auto;
}

.historyTable th, .historyTable td {
  padding: 12px;
  text-align: left;
  border: 1px solid #007bff; /* Plavi obrub za ćelije */
  word-wrap: break-word;
  overflow: hidden;
}

.historyTable th {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.historyTable tr:nth-child(even) {
  background-color: #e6f0ff; /* Svijetloplava pozadina za parne redove */
}

.historyTable tr:nth-child(odd) {
  background-color: #f5f8ff; /* Svijetloplava pozadina za neparne redove */
}

.historyTable tr:hover {
  background-color: #d0e5ff; /* Plava pozadina pri hover-u */
}

.historyTable ul {
  list-style-type: none;
  padding-left: 20px;
}

.historyTable ul li {
  margin: 5px 0;
}

.historyTableRow {
  cursor: pointer;
}

.historyTableRow:hover {
  background-color: #d0e5ff; /* Boja reda kad se pređe mišem */
}

/* Detalji izvan tabele */
/* Poravnanje sadržaja u detaljima na lijevo */
.historyDetails {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f8ff; /* Svijetlo plava pozadina */
  border: 1px solid #007bff; /* Plavi okvir */
  border-radius: 5px;
  text-align: left; /* Poravnavanje na lijevo */
}

.historyDetails p {
  margin: 5px 0;
  font-size: 14px;
  text-align: left; /* Osigurajte da je tekst unutar <p> također poravnat na lijevo */
}

/* Ako želite poravnati centrirano samo za '.historyInfo' */
.historyInfo {
  text-align: left; /* Promijenjeno na lijevo poravnanje */
  font-size: 16px;
  color: #333;
}

.search-container {
  display: flex;
  justify-content: space-between; /* Postavlja label i input sa razmakom između */
  align-items: center; /* Vertikalno centriranje */
  width: 100%; /* Osigurava da kontejner zauzima cijeli prostor */
}

.search-container label {
  margin-right: 10px; /* Dodaje razmak između labela i inputa */
}

.search-container input {
  width: 100%; /* Omogućava inputu da popuni preostali prostor */
  max-width: 300px; /* Postavlja maksimalnu širinu za input, po potrebi */
  padding: 8px;
}
.container {
  display: grid;
  justify-items: end;  /* Align items inside the grid to the right */
  padding: 10px;       /* Optional: Add padding if needed */
}

.info {
  margin-right: 20px;  /* Optional: Add space from the right edge */
}


