.table-container {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    margin: 20px auto;
}

.table-container::-webkit-scrollbar {
    height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #0f65f0;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #0d4fb9;
}
  
.table {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    table-layout: auto;
    text-align: left;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
}
  
.table thead th {
    position: sticky;
    padding: 12px 10px;
    top: 0;
    white-space: nowrap;
    vertical-align: middle;
}


.table tbody th{
    padding: 8px 20px;
    white-space: nowrap;
}

.center{
    text-align: center;
}


.filter-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.filter {
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.search {
    display: flex;
    align-items: center;
    width: 400px;
}

.search-input {
    width: 250px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-input.light {
    background-color: #fff;
    color: #333;
}

.search-input.dark {
    background-color: #333;
    color: #fff;
}
.search-input:focus {
    outline: none;
    border-color: #0f65f0;
    box-shadow: 0 0 5px rgba(15, 101, 240, 0.5);
}


.pagination-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: #333;
}

.students-per-page{
    display: flex;
    padding: 0 10px 0 0;
}

.form-select{
    margin: 0 10px;
}

.pagination{
    margin: 0 3px;
}
.page-btn {
    width: 25px;
    height: 30px;
    margin: 2px;
    padding: 0;
    border-radius: 5px;
    font-size: 10pt;
    border: 1px solid #0f65f0; 
    background-color: transparent; 
    color: #0f65f0;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.page-btn:hover {
    background-color: #e6f0ff;
}

.page-btn.active {
    background-color: #0f65f0; 
    color: #fff;
    border: 1px solid #0f65f0;
    font-weight: bold;
}

.grade-button-container{
    text-align: center;
  }

.grade-button {
    display: inline-block;
    background-color: #0f65f0;
    color: white;
    text-align: center;
    padding: 5px 2px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.9rem;
    width: 50%;
  }
  
  .grade-button:hover {
    background-color: #0d4fb9; 
    border-color: none;
  }
  
  .grade-button:focus {
    outline: 3px solid #ffbf47; 
    outline-offset: 2px; 
  }
  
  .grade-button:disabled {
    background-color: #d6d6d6; 
    border-color: #d6d6d6; 
    color: #aaa; 
    cursor: not-allowed; 
  }

  
  .cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; 
  }
  
  .cell-content.expanded {
    white-space: normal;
    max-width: none;
  }
  
.grade-view {
  background-color: #0f65f0;
  max-width: 60px;
  max-height: 60px;
  padding: 10px 12px;
  font-size: 10pt;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.button-link {
    display: inline-block;
    background-color: #0f65f0;
    color: white;
    text-align: center;
    padding: 0.3rem 1rem;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.9rem;
    margin: 10px;
  }
  
  .button-link:hover,
  .button-link:active {
    background-color: #0d4fb9;
    color: white;
  }